%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/001/001-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "", title: ""} ZETAGRADNJA
      %p
        %a{ href: "" } cca 6000m2
      %p
        %a{ href: "" } BAR
      = link_to "", image_path("portfolio/001/001-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[001]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/001/001-2.jpg"), rel: "prettyPhoto[001]"
        = link_to "", image_path("portfolio/001/001-3.jpg"), rel: "prettyPhoto[001]"
        = link_to "", image_path("portfolio/001/001-4.jpg"), rel: "prettyPhoto[001]"
        = link_to "", image_path("portfolio/001/001-5.jpg"), rel: "prettyPhoto[001]"
        = link_to "", image_path("portfolio/001/001-6.jpg"), rel: "prettyPhoto[001]"
        = link_to "", image_path("portfolio/001/001-7.jpg"), rel: "prettyPhoto[001]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/015/015-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""} Hotel "OLIVA"
      %p
        %a{ href: "" } cca 9700m2
      %p
        %a{ href: "" } PETROVAC
      = link_to "", image_path("portfolio/015/015-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[015]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/015/015-1.jpg"), rel: "prettyPhoto[015]"
        = link_to "", image_path("portfolio/015/015-2.jpg"), rel: "prettyPhoto[015]"
        = link_to "", image_path("portfolio/015/015-3.jpg"), rel: "prettyPhoto[015]"
        = link_to "", image_path("portfolio/015/015-4.jpg"), rel: "prettyPhoto[015]"
        = link_to "", image_path("portfolio/015/015-5.jpg"), rel: "prettyPhoto[015]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/002/002-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "", title: ""} ZETAGRADNJA
      %p
        %a{ href: "" } cca 10000m2
      %p
        %a{ href: "" } BAR
      = link_to "", image_path("portfolio/002/002-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[002]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/002/002-2.jpg"), rel: "prettyPhoto[002]"
        = link_to "", image_path("portfolio/002/002-3.jpg"), rel: "prettyPhoto[002]"
        = link_to "", image_path("portfolio/002/002-4.jpg"), rel: "prettyPhoto[002]"
        = link_to "", image_path("portfolio/002/002-5.jpg"), rel: "prettyPhoto[002]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/005/005-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "", title: ""} MINISTARSTVO ODBRANE CG - CIJEVNA Commerce
      %p
        %a{ href: "" } cca 19500m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/005/005-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[005]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/005/005-1.jpg"), rel: "prettyPhoto[005]"
        = link_to "", image_path("portfolio/005/005-2.jpg"), rel: "prettyPhoto[005]"
        = link_to "", image_path("portfolio/005/005-3.jpg"), rel: "prettyPhoto[005]"
        = link_to "", image_path("portfolio/005/005-4.jpg"), rel: "prettyPhoto[005]"
        = link_to "", image_path("portfolio/005/005-5.jpg"), rel: "prettyPhoto[005]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/026/026-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""} poslovni objeekat TELEMONT
      %p
        %a{ href: "", title: ""} TELEMONT
      %p
        %a{ href: "" } cca 1200m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/026/026-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[026]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/026/026-1.jpg"), rel: "prettyPhoto[026]"
        = link_to "", image_path("portfolio/026/026-2.jpg"), rel: "prettyPhoto[026]"
        = link_to "", image_path("portfolio/026/026-3.jpg"), rel: "prettyPhoto[026]"
        = link_to "", image_path("portfolio/026/026-4.jpg"), rel: "prettyPhoto[026]"
        = link_to "", image_path("portfolio/026/026-5.jpg"), rel: "prettyPhoto[026]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/025/025-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.O/C'
      %p
        %a{ href: "" } ZETAGRADNJA
      %p
        %a{ href: "" } cca 160000m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/025/025-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[025]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/025/025-3.jpg"), rel: "prettyPhoto[025]"
        = link_to "", image_path("portfolio/025/025-4.jpg"), rel: "prettyPhoto[025]"
        = link_to "", image_path("portfolio/025/025-5.jpg"), rel: "prettyPhoto[025]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/016/016-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "", title: ""} TEHNO LUX
      %p
        %a{ href: "" } cca 850m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/016/016-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[016]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/016/016-1.jpg"), rel: "prettyPhoto[016]"
        = link_to "", image_path("portfolio/016/016-2.jpg"), rel: "prettyPhoto[016]"
        = link_to "", image_path("portfolio/016/016-3.jpg"), rel: "prettyPhoto[016]"
        = link_to "", image_path("portfolio/016/016-5.jpg"), rel: "prettyPhoto[016]"

%div{ class: "media-box #{span} houses" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/033/033-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.H'
      %p
        %a{ href: "" } NEŠOVIĆ
      %p
        %a{ href: "" } cca 250m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/033/033-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[033]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/033/033-1.jpg"), rel: "prettyPhoto[033]"
        = link_to "", image_path("portfolio/033/033-2.jpg"), rel: "prettyPhoto[033]"
        = link_to "", image_path("portfolio/033/033-3.jpg"), rel: "prettyPhoto[033]"
        = link_to "", image_path("portfolio/033/033-4.jpg"), rel: "prettyPhoto[033]"
        = link_to "", image_path("portfolio/033/033-6.jpg"), rel: "prettyPhoto[033]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/023/023-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "", title: ""} ŠAHOVIĆ Company
      %p
        %a{ href: "" } cca 1700m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/023/023-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[023]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/023/023-1.jpg"), rel: "prettyPhoto[023]"
        = link_to "", image_path("portfolio/023/023-2.jpg"), rel: "prettyPhoto[023]"
        = link_to "", image_path("portfolio/023/023-3.jpg"), rel: "prettyPhoto[023]"
        = link_to "", image_path("portfolio/023/023-4.jpg"), rel: "prettyPhoto[023]"
        = link_to "", image_path("portfolio/023/023-5.jpg"), rel: "prettyPhoto[023]"
        = link_to "", image_path("portfolio/023/023-6.jpg"), rel: "prettyPhoto[023]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/013/013-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } EURO PACT
      %p
        %a{ href: "" } cca 17000m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/013/013-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[013]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/013/013-1.jpg"), rel: "prettyPhoto[013]"
        = link_to "", image_path("portfolio/013/013-2.jpg"), rel: "prettyPhoto[013]"
        = link_to "", image_path("portfolio/013/013-3.jpg"), rel: "prettyPhoto[013]"
        = link_to "", image_path("portfolio/013/013-4.jpg"), rel: "prettyPhoto[013]"
        = link_to "", image_path("portfolio/013/013-5.jpg"), rel: "prettyPhoto[013]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/012/012-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.C'
      %p
        %a{ href: "" } AUTO Salon / Service SAHOVIC
      %p
        %a{ href: "" } cca 2500m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/012/012-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[012]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/012/012-2.jpg"), rel: "prettyPhoto[012]"
        = link_to "", image_path("portfolio/012/012-3.jpg"), rel: "prettyPhoto[012]"
        = link_to "", image_path("portfolio/012/012-4.jpg"), rel: "prettyPhoto[012]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/019/019-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } ZETAGRADNJA
      %p
        %a{ href: "" } cca 16000m2
      %p
        %a{ href: "" } PETROVAC
      = link_to "", image_path("portfolio/019/019-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[019]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/019/019-1.jpg"), rel: "prettyPhoto[019]"
        = link_to "", image_path("portfolio/019/019-2.jpg"), rel: "prettyPhoto[019]"
        = link_to "", image_path("portfolio/019/019-3.jpg"), rel: "prettyPhoto[019]"
        = link_to "", image_path("portfolio/019/019-4.jpg"), rel: "prettyPhoto[019]"
        = link_to "", image_path("portfolio/019/019-5.jpg"), rel: "prettyPhoto[019]"

%div{ class: "media-box #{span} competitions" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/017/017-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/CX'
      %p
        %a{ href: "" } ZETAGRADNJA
      %p
        %a{ href: "" } cca 137000 + 65000m2
      %p
        %a{ href: "" } DUP Duvanski kombinat - PODGORICA
      = link_to "", image_path("portfolio/017/017-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[017]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/017/017-1.jpg"), rel: "prettyPhoto[017]"
        = link_to "", image_path("portfolio/017/017-2.jpg"), rel: "prettyPhoto[017]"
        = link_to "", image_path("portfolio/017/017-3.jpg"), rel: "prettyPhoto[017]"
        = link_to "", image_path("portfolio/017/017-4.jpg"), rel: "prettyPhoto[017]"
        = link_to "", image_path("portfolio/017/017-5.jpg"), rel: "prettyPhoto[017]"
        = link_to "", image_path("portfolio/017/017-6.jpg"), rel: "prettyPhoto[017]"
        = link_to "", image_path("portfolio/017/017-7.jpg"), rel: "prettyPhoto[017]"
        = link_to "", image_path("portfolio/017/017-8.jpg"), rel: "prettyPhoto[017]"
        = link_to "", image_path("portfolio/017/017-9.jpg"), rel: "prettyPhoto[017]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/003/003-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "", title: ""} RUDI Commerce
      %p
        %a{ href: "" } cca 5200m2
      %p
        %a{ href: "" } BERANE
      = link_to "", image_path("portfolio/003/003-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[003]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/003/003-1.jpg"), rel: "prettyPhoto[003]"
        = link_to "", image_path("portfolio/003/003-2.jpg"), rel: "prettyPhoto[003]"
        = link_to "", image_path("portfolio/003/003-3.jpg"), rel: "prettyPhoto[003]"
        = link_to "", image_path("portfolio/003/003-4.jpg"), rel: "prettyPhoto[003]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/043/043-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } Apartmani JEVRIC
      %p
        %a{ href: "" } cca 1000m2
      %p
        %a{ href: "" } Sveti Stefan
      = link_to "", image_path("portfolio/043/043-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[043]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/043/043-1.jpg"), rel: "prettyPhoto[043]"
        = link_to "", image_path("portfolio/043/043-2.jpg"), rel: "prettyPhoto[043]"
        = link_to "", image_path("portfolio/043/043-3.jpg"), rel: "prettyPhoto[043]"
        = link_to "", image_path("portfolio/043/043-4.jpg"), rel: "prettyPhoto[043]"
        = link_to "", image_path("portfolio/043/043-5.jpg"), rel: "prettyPhoto[043]"
        
%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/008/008-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R'
      %p
        %a{ href: "", title: ""} CIJEVNA Commerce
      %p
        %a{ href: "" } cca 2700m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/008/008-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[008]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/008/008-1.jpg"), rel: "prettyPhoto[008]"
        = link_to "", image_path("portfolio/008/008-2.jpg"), rel: "prettyPhoto[008]"
        = link_to "", image_path("portfolio/008/008-3.jpg"), rel: "prettyPhoto[008]"
        = link_to "", image_path("portfolio/008/008-4.jpg"), rel: "prettyPhoto[008]"
        = link_to "", image_path("portfolio/008/008-5.jpg"), rel: "prettyPhoto[008]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/046/046-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""} Hotel "PERLA" - Kumbor
      %p
        %a{ href: "" } PERLA d.o.o.
      %p
        %a{ href: "" } cca 6000m2
      %p
        %a{ href: "" } Kumbor - HERCEG NOVI
      = link_to "", image_path("portfolio/046/046-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[046]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/046/046-1.jpg"), rel: "prettyPhoto[046]"
        = link_to "", image_path("portfolio/046/046-2.jpg"), rel: "prettyPhoto[046]"
        = link_to "", image_path("portfolio/046/046-3.jpg"), rel: "prettyPhoto[046]"
        = link_to "", image_path("portfolio/046/046-4.jpg"), rel: "prettyPhoto[046]"
        = link_to "", image_path("portfolio/046/046-5.jpg"), rel: "prettyPhoto[046]"
        = link_to "", image_path("portfolio/046/046-6.jpg"), rel: "prettyPhoto[046]"
        = link_to "", image_path("portfolio/046/046-7.jpg"), rel: "prettyPhoto[046]"
        = link_to "", image_path("portfolio/046/046-8.jpg"), rel: "prettyPhoto[046]"
        = link_to "", image_path("portfolio/046/046-9.jpg"), rel: "prettyPhoto[046]"
        = link_to "", image_path("portfolio/046/046-10.jpg"), rel: "prettyPhoto[046]"

%div{ class: "media-box #{span} concept" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/022/022-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/CX'
      %p
        %a{ href: "" } ZETAGRADNJA
      %p
        %a{ href: "" } cca 125000 + 40000m2
      %p
        %a{ href: "" } DUP Radoje Dakic - PODGORICA
      = link_to "", image_path("portfolio/022/022-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[022]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/022/022-1.jpg"), rel: "prettyPhoto[022]"
        = link_to "", image_path("portfolio/022/022-2.jpg"), rel: "prettyPhoto[022]"
        = link_to "", image_path("portfolio/022/022-3.jpg"), rel: "prettyPhoto[022]"
        = link_to "", image_path("portfolio/022/022-4.jpg"), rel: "prettyPhoto[022]"
        = link_to "", image_path("portfolio/022/022-5.jpg"), rel: "prettyPhoto[022]"
        = link_to "", image_path("portfolio/022/022-6.jpg"), rel: "prettyPhoto[022]"

%div{ class: "media-box #{span} competitions" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/041/041-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""} DJEČIJI VRTIĆ
      %p
        %a{ href: "" } Podgorica
      %p
        %a{ href: "" } cca 2000m2
      %p
        %a{ href: "" } DEČIJI VRTIĆ I JASLICE - DUP Blok IV - PODGORICA
      = link_to "", image_path("portfolio/041/041-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[041]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/041/041-1.jpg"), rel: "prettyPhoto[041]"
        = link_to "", image_path("portfolio/041/041-2.jpg"), rel: "prettyPhoto[041]"
        = link_to "", image_path("portfolio/041/041-3.jpg"), rel: "prettyPhoto[041]"
        = link_to "", image_path("portfolio/041/041-4.jpg"), rel: "prettyPhoto[041]"
        = link_to "", image_path("portfolio/041/041-5.jpg"), rel: "prettyPhoto[041]"
        = link_to "", image_path("portfolio/041/041-6.jpg"), rel: "prettyPhoto[041]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/035/035-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.C'
      %p
        %a{ href: "" } RIBNICA Commerce
      %p
        %a{ href: "" } cca 2500m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/035/035-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[035]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/035/035-1.jpg"), rel: "prettyPhoto[035]"
        = link_to "", image_path("portfolio/035/035-2.jpg"), rel: "prettyPhoto[035]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/010/010-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.C'
      %p
        %a{ href: "" } cca 1200m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/010/010-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[010]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/010/010-1.jpg"), rel: "prettyPhoto[010]"
        = link_to "", image_path("portfolio/010/010-2.jpg"), rel: "prettyPhoto[010]"
        = link_to "", image_path("portfolio/010/010-3.jpg"), rel: "prettyPhoto[010]"
        = link_to "", image_path("portfolio/010/010-4.jpg"), rel: "prettyPhoto[010]"
        = link_to "", image_path("portfolio/010/010-5.jpg"), rel: "prettyPhoto[010]"

%div{ class: "media-box #{span} competitions" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/036/036-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } ZETAGRADNJA
      %p
        %a{ href: "" } cca 7000m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/036/036-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[036]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/036/036-1.jpg"), rel: "prettyPhoto[036]"
        = link_to "", image_path("portfolio/036/036-2.jpg"), rel: "prettyPhoto[036]"
        = link_to "", image_path("portfolio/036/036-3.jpg"), rel: "prettyPhoto[036]"
        = link_to "", image_path("portfolio/036/036-4.jpg"), rel: "prettyPhoto[036]"
        = link_to "", image_path("portfolio/036/036-5.jpg"), rel: "prettyPhoto[036]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/032/032-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } ZETAGRADNJA
      %p
        %a{ href: "" } cca 7500m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/032/032-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[032]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/032/032-1.jpg"), rel: "prettyPhoto[032]"
        = link_to "", image_path("portfolio/032/032-2.jpg"), rel: "prettyPhoto[032]"
        = link_to "", image_path("portfolio/032/032-3.jpg"), rel: "prettyPhoto[032]"
        = link_to "", image_path("portfolio/032/032-4.jpg"), rel: "prettyPhoto[032]"
        = link_to "", image_path("portfolio/032/032-5.jpg"), rel: "prettyPhoto[032]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/045/045-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""} HOTEL & SPA PERLA
      %p
        %a{ href: "" } PERLA doo
      %p
        %a{ href: "" } cca 1700m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/045/045-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[045]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/045/045-1.jpg"), rel: "prettyPhoto[045]"
        = link_to "", image_path("portfolio/045/045-2.jpg"), rel: "prettyPhoto[045]"
        = link_to "", image_path("portfolio/045/045-3.jpg"), rel: "prettyPhoto[045]"
        = link_to "", image_path("portfolio/045/045-6.jpg"), rel: "prettyPhoto[045]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/024/024-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.C'
      %p
        %a{ href: "" } PG CITY MALL
      %p
        %a{ href: "" } 40000 + 35000
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/024/024-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[024]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/024/024-1.jpg"), rel: "prettyPhoto[024]"
        = link_to "", image_path("portfolio/024/024-2.jpg"), rel: "prettyPhoto[024]"
        = link_to "", image_path("portfolio/024/024-3.jpg"), rel: "prettyPhoto[024]"
        = link_to "", image_path("portfolio/024/024-4.jpg"), rel: "prettyPhoto[024]"
        = link_to "", image_path("portfolio/024/024-5.jpg"), rel: "prettyPhoto[024]"
        = link_to "", image_path("portfolio/024/024-6.jpg"), rel: "prettyPhoto[024]"

%div{ class: "media-box #{span} competitions" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/007/007-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.O'
      %p
        %a{ href: "" } cca 3500m2
      %p
        %a{ href: "" } ADMINISTRATIVNI OBJEKAT OPŠTINE ZETA
      %p
        %a{ href: "" } GOLUBOVCI
      = link_to "", image_path("portfolio/007/007-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[007]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/007/007-1.jpg"), rel: "prettyPhoto[007]"
        = link_to "", image_path("portfolio/007/007-2.jpg"), rel: "prettyPhoto[007]"
        = link_to "", image_path("portfolio/007/007-3.jpg"), rel: "prettyPhoto[007]"
        = link_to "", image_path("portfolio/007/007-4.jpg"), rel: "prettyPhoto[007]"
        = link_to "", image_path("portfolio/007/007-5.jpg"), rel: "prettyPhoto[007]"  
        = link_to "", image_path("portfolio/007/007-6.jpg"), rel: "prettyPhoto[007]"   
        = link_to "", image_path("portfolio/007/007-7.jpg"), rel: "prettyPhoto[007]"

%div{ class: "media-box #{span} concept" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/028/028-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/CX'
      %p
        %a{ href: "" } cca 35000m2
      %p
        %a{ href: "" } ULCINJ
      = link_to "", image_path("portfolio/028/028-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[028]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/028/028-1.jpg"), rel: "prettyPhoto[028]"
        = link_to "", image_path("portfolio/028/028-2.jpg"), rel: "prettyPhoto[028]"
        = link_to "", image_path("portfolio/028/028-3.jpg"), rel: "prettyPhoto[028]"
        = link_to "", image_path("portfolio/028/028-4.jpg"), rel: "prettyPhoto[028]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/030/030-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } cca 700m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/030/030-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[030]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/030/030-1.jpg"), rel: "prettyPhoto[030]"
        = link_to "", image_path("portfolio/030/030-2.jpg"), rel: "prettyPhoto[030]"
        = link_to "", image_path("portfolio/030/030-3.jpg"), rel: "prettyPhoto[030]"
        = link_to "", image_path("portfolio/030/030-4.jpg"), rel: "prettyPhoto[030]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/009/009-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } cca 760m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/009/009-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[009]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/009/009-1.jpg"), rel: "prettyPhoto[009]"
        = link_to "", image_path("portfolio/009/009-2.jpg"), rel: "prettyPhoto[009]"
        = link_to "", image_path("portfolio/009/009-3.jpg"), rel: "prettyPhoto[009]"
        = link_to "", image_path("portfolio/009/009-4.jpg"), rel: "prettyPhoto[009]"
        = link_to "", image_path("portfolio/009/009-5.jpg"), rel: "prettyPhoto[009]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/037/037-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.C'
      %p
        %a{ href: "" } cca 900m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/037/037-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[037]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/037/037-1.jpg"), rel: "prettyPhoto[037]"
        = link_to "", image_path("portfolio/037/037-2.jpg"), rel: "prettyPhoto[037]"
        = link_to "", image_path("portfolio/037/037-3.jpg"), rel: "prettyPhoto[037]"
        = link_to "", image_path("portfolio/037/037-4.jpg"), rel: "prettyPhoto[037]"
        = link_to "", image_path("portfolio/037/037-5.jpg"), rel: "prettyPhoto[037]"

%div{ class: "media-box #{span} concept" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/031/031-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/CX'
      %p
        %a{ href: "" } ZETAGRADNJA
      %p
        %a{ href: "" } cca 14000m2
      %p
        %a{ href: "" } Sveta Vraca - DOBROTA, KOTOR
      = link_to "", image_path("portfolio/031/031-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[031]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/031/031-1.jpg"), rel: "prettyPhoto[031]"
        = link_to "", image_path("portfolio/031/031-2.jpg"), rel: "prettyPhoto[031]"
        = link_to "", image_path("portfolio/031/031-3.jpg"), rel: "prettyPhoto[031]"
        = link_to "", image_path("portfolio/031/031-4.jpg"), rel: "prettyPhoto[031]"
        = link_to "", image_path("portfolio/031/031-5.jpg"), rel: "prettyPhoto[031]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/006/006-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } RUDI-KOMERC       
      %p
        %a{ href: "" } cca 4500m2
      %p
        %a{ href: "" } BERANE
      = link_to "", image_path("portfolio/006/006-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[006]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/006/006-1.jpg"), rel: "prettyPhoto[006]"
        = link_to "", image_path("portfolio/006/006-2.jpg"), rel: "prettyPhoto[006]"
        = link_to "", image_path("portfolio/006/006-3.jpg"), rel: "prettyPhoto[006]"
        = link_to "", image_path("portfolio/006/006-4.jpg"), rel: "prettyPhoto[006]"

%div{ class: "media-box #{span} concept" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/027/027-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } ZETAGRADNJA
      %p
        %a{ href: "" } 7500m2
      %p
        %a{ href: "" } ULCINJ
      = link_to "", image_path("portfolio/027/027-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[027]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/027/027-1.jpg"), rel: "prettyPhoto[027]"
        = link_to "", image_path("portfolio/027/027-2.jpg"), rel: "prettyPhoto[027]"
        = link_to "", image_path("portfolio/027/027-3.jpg"), rel: "prettyPhoto[027]"
        = link_to "", image_path("portfolio/027/027-4.jpg"), rel: "prettyPhoto[027]"
        = link_to "", image_path("portfolio/027/027-5.jpg"), rel: "prettyPhoto[027]"
        = link_to "", image_path("portfolio/027/027-6.jpg"), rel: "prettyPhoto[027]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/056/056-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } CIJEVNA Commerce
      %p
        %a{ href: "" } cca 1200m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/056/056-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[056]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/056/056-1.jpg"), rel: "prettyPhoto[056]"
        = link_to "", image_path("portfolio/056/056-2.jpg"), rel: "prettyPhoto[056]"
        = link_to "", image_path("portfolio/056/056-3.jpg"), rel: "prettyPhoto[056]"
        = link_to "", image_path("portfolio/056/056-4.jpg"), rel: "prettyPhoto[056]"
        = link_to "", image_path("portfolio/056/056-5.jpg"), rel: "prettyPhoto[056]"
        = link_to "", image_path("portfolio/056/056-6.jpg"), rel: "prettyPhoto[056]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/049/049-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } RUDI-KOMERC
      %p
        %a{ href: "" } cca 1300m2
      %p
        %a{ href: "" } BERANE
      = link_to "", image_path("portfolio/049/049-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[049]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/049/049-1.jpg"), rel: "prettyPhoto[049]"
        = link_to "", image_path("portfolio/049/049-3.jpg"), rel: "prettyPhoto[049]"
        = link_to "", image_path("portfolio/049/049-4.jpg"), rel: "prettyPhoto[049]"
        = link_to "", image_path("portfolio/049/049-5.jpg"), rel: "prettyPhoto[049]"
        = link_to "", image_path("portfolio/049/049-6.jpg"), rel: "prettyPhoto[049]"

%div{ class: "media-box #{span} houses" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/055/055-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.H'
      %p
        %a{ href: "" } JEVRIĆ       
      %p
        %a{ href: "" } cca 250m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/055/055-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[055]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/055/055-1.jpg"), rel: "prettyPhoto[055]"
        = link_to "", image_path("portfolio/055/055-2.jpg"), rel: "prettyPhoto[055]"
        = link_to "", image_path("portfolio/055/055-3.jpg"), rel: "prettyPhoto[055]"
        = link_to "", image_path("portfolio/055/055-4.jpg"), rel: "prettyPhoto[055]"
        = link_to "", image_path("portfolio/055/055-5.jpg"), rel: "prettyPhoto[055]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/021/021-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } cca 5500m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/021/021-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[021]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/021/021-1.jpg"), rel: "prettyPhoto[021]"
        = link_to "", image_path("portfolio/021/021-2.jpg"), rel: "prettyPhoto[021]"
        = link_to "", image_path("portfolio/021/021-3.jpg"), rel: "prettyPhoto[021]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/047/047-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } cca 2700m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/047/047-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[047]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/047/047-1.jpg"), rel: "prettyPhoto[047]"
        = link_to "", image_path("portfolio/047/047-2.jpg"), rel: "prettyPhoto[047]"
        = link_to "", image_path("portfolio/047/047-3.jpg"), rel: "prettyPhoto[047]"
        = link_to "", image_path("portfolio/047/047-4.jpg"), rel: "prettyPhoto[047]"
        = link_to "", image_path("portfolio/047/047-5.jpg"), rel: "prettyPhoto[047]"
        = link_to "", image_path("portfolio/047/047-6.jpg"), rel: "prettyPhoto[047]"
        = link_to "", image_path("portfolio/047/047-7.jpg"), rel: "prettyPhoto[047]"
        = link_to "", image_path("portfolio/047/047-8.jpg"), rel: "prettyPhoto[047]"
        = link_to "", image_path("portfolio/047/047-9.jpg"), rel: "prettyPhoto[047]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/048/048-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } EUROZOX / Boris Popovic
      %p
        %a{ href: "" } cca 3500m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/048/048-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[048]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/048/048-1.jpg"), rel: "prettyPhoto[048]"
        = link_to "", image_path("portfolio/048/048-2.jpg"), rel: "prettyPhoto[048]"
        = link_to "", image_path("portfolio/048/048-3.jpg"), rel: "prettyPhoto[048]"
        = link_to "", image_path("portfolio/048/048-4.jpg"), rel: "prettyPhoto[048]"
        = link_to "", image_path("portfolio/048/048-5.jpg"), rel: "prettyPhoto[048]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/004/004-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.C'
      %p
        %a{ href: "" } BERI PROM
      %p
        %a{ href: "" } cca 2200m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/004/004-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[004]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/004/004-1.jpg"), rel: "prettyPhoto[004]"
        = link_to "", image_path("portfolio/004/004-2.jpg"), rel: "prettyPhoto[004]"
        = link_to "", image_path("portfolio/004/004-3.jpg"), rel: "prettyPhoto[004]"
        = link_to "", image_path("portfolio/004/004-4.jpg"), rel: "prettyPhoto[004]"
        = link_to "", image_path("portfolio/004/004-5.jpg"), rel: "prettyPhoto[004]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/054/054-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.O'
      %p
        %a{ href: "" } CEDIS
      %p
        %a{ href: "" } cca 4500m2  
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/054/054-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[054]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/054/054-1.jpg"), rel: "prettyPhoto[054]"
        = link_to "", image_path("portfolio/054/054-2.jpg"), rel: "prettyPhoto[054]"
        = link_to "", image_path("portfolio/054/054-3.jpg"), rel: "prettyPhoto[054]"
        = link_to "", image_path("portfolio/054/054-4.jpg"), rel: "prettyPhoto[054]"
        = link_to "", image_path("portfolio/054/054-5.jpg"), rel: "prettyPhoto[054]"
        = link_to "", image_path("portfolio/054/054-6.jpg"), rel: "prettyPhoto[054]"
        = link_to "", image_path("portfolio/054/054-7.jpg"), rel: "prettyPhoto[054]"
        = link_to "", image_path("portfolio/054/054-8.jpg"), rel: "prettyPhoto[054]"
        = link_to "", image_path("portfolio/054/054-9.jpg"), rel: "prettyPhoto[054]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/039/039-4.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.C'
      %p
        %a{ href: "" } ŠAHOVIĆ Company
      %p
        %a{ href: "" } cca 1300m2
      %p
        %a{ href: "" } Kuće RAKIĆA - PODGORICA
      = link_to "", image_path("portfolio/039/039-4.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[039]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/039/039-1.jpg"), rel: "prettyPhoto[039]"
        = link_to "", image_path("portfolio/039/039-2.jpg"), rel: "prettyPhoto[039]"
        = link_to "", image_path("portfolio/039/039-3.jpg"), rel: "prettyPhoto[039]"
        = link_to "", image_path("portfolio/039/039-4.jpg"), rel: "prettyPhoto[039]"
        = link_to "", image_path("portfolio/039/039-5.jpg"), rel: "prettyPhoto[039]"
        = link_to "", image_path("portfolio/039/039-6.jpg"), rel: "prettyPhoto[039]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/042/042-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/C'
      %p
        %a{ href: "" } BEST Investment
      %p
        %a{ href: "" } cca 1700m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/042/042-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[042]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/042/042-1.jpg"), rel: "prettyPhoto[042]"
        = link_to "", image_path("portfolio/042/042-2.jpg"), rel: "prettyPhoto[042]"
        = link_to "", image_path("portfolio/042/042-3.jpg"), rel: "prettyPhoto[042]"
        = link_to "", image_path("portfolio/042/042-4.jpg"), rel: "prettyPhoto[042]"
        = link_to "", image_path("portfolio/042/042-5.jpg"), rel: "prettyPhoto[042]"

%div{ class: "media-box #{span} concept" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/050/050-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/CX'
      %p
        %a{ href: "" } CIJEVNA COMMERCE
      %p
        %a{ href: "" } 40000m2
      %p
        %a{ href: "" } Kamenovo - BUDVA
      = link_to "", image_path("portfolio/050/050-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[050]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/050/050-1.jpg"), rel: "prettyPhoto[050]"
        = link_to "", image_path("portfolio/050/050-2.jpg"), rel: "prettyPhoto[050]"
        = link_to "", image_path("portfolio/050/050-3.jpg"), rel: "prettyPhoto[050]"
        = link_to "", image_path("portfolio/050/050-4.jpg"), rel: "prettyPhoto[050]"
        = link_to "", image_path("portfolio/050/050-5.jpg"), rel: "prettyPhoto[050]"
        = link_to "", image_path("portfolio/050/050-6.jpg"), rel: "prettyPhoto[050]"

%div{ class: "media-box #{span} competitions" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/057/057-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""} DRŽAVNA REVIZORSKA INSTITUCIJA
      %p
        %a{ href: "" } cca 3300m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/057/057-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[057]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/057/057-1.jpg"), rel: "prettyPhoto[057]"
        = link_to "", image_path("portfolio/057/057-2.jpg"), rel: "prettyPhoto[057]"
        = link_to "", image_path("portfolio/057/057-3.jpg"), rel: "prettyPhoto[057]"
        = link_to "", image_path("portfolio/057/057-4.jpg"), rel: "prettyPhoto[057]"
        = link_to "", image_path("portfolio/057/057-5.jpg"), rel: "prettyPhoto[057]"       
        = link_to "", image_path("portfolio/057/057-6.jpg"), rel: "prettyPhoto[057]"
        = link_to "", image_path("portfolio/057/057-7.jpg"), rel: "prettyPhoto[057]"
        = link_to "", image_path("portfolio/057/057-8.jpg"), rel: "prettyPhoto[057]"
        = link_to "", image_path("portfolio/057/057-9.jpg"), rel: "prettyPhoto[057]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/053/053-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.C'
      %p
        %a{ href: "" } Hotel /depadans/ PERLA doo 
      %p
        %a{ href: "" } tip A 100m2; tip B 60m2; tip C 45m2
      %p
        %a{ href: "" } ZABLJAK
      = link_to "", image_path("portfolio/053/053-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[053]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/053/053-1.jpg"), rel: "prettyPhoto[053]"
        = link_to "", image_path("portfolio/053/053-2.jpg"), rel: "prettyPhoto[053]"
        = link_to "", image_path("portfolio/053/053-3.jpg"), rel: "prettyPhoto[053]"
        = link_to "", image_path("portfolio/053/053-4.jpg"), rel: "prettyPhoto[053]"
        = link_to "", image_path("portfolio/053/053-5.jpg"), rel: "prettyPhoto[053]"
        = link_to "", image_path("portfolio/053/053-6.jpg"), rel: "prettyPhoto[053]"
        = link_to "", image_path("portfolio/053/053-7.jpg"), rel: "prettyPhoto[053]"
        = link_to "", image_path("portfolio/053/053-8.jpg"), rel: "prettyPhoto[053]"
        = link_to "", image_path("portfolio/053/053-9.jpg"), rel: "prettyPhoto[053]"

%div{ class: "media-box #{span} houses" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/052/052-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.H'
      %p
        %a{ href: "" } POPOVIĆ       
      %p
        %a{ href: "" } cca 250m2
      %p
        %a{ href: "" } PODGORICA
      = link_to "", image_path("portfolio/052/052-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[052]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/052/052-1.jpg"), rel: "prettyPhoto[052]"
        = link_to "", image_path("portfolio/052/052-2.jpg"), rel: "prettyPhoto[052]"
        = link_to "", image_path("portfolio/052/052-3.jpg"), rel: "prettyPhoto[052]"
        = link_to "", image_path("portfolio/052/052-4.jpg"), rel: "prettyPhoto[052]"

%div{ class: "media-box #{span} houses" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/044/044-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.H'
      %p
        %a{ href: "" } RADONJIĆ
      %p
        %a{ href: "" } cca 220m2
      %p
        %a{ href: "" } Rvaši - CETINJE
      = link_to "", image_path("portfolio/044/044-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[044]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/044/044-1.jpg"), rel: "prettyPhoto[044]"
        = link_to "", image_path("portfolio/044/044-2.jpg"), rel: "prettyPhoto[044]"
        = link_to "", image_path("portfolio/044/044-3.jpg"), rel: "prettyPhoto[044]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/040/040-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.C'
      %p
        %a{ href: "" } Hotel /depadans/ - MEDITERAN 
      %p
        %a{ href: "" } cca 1200m2
      %p
        %a{ href: "" } ULCINJ
      = link_to "", image_path("portfolio/040/040-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[040]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/040/040-1.jpg"), rel: "prettyPhoto[040]"
        = link_to "", image_path("portfolio/040/040-2.jpg"), rel: "prettyPhoto[040]"
        = link_to "", image_path("portfolio/040/040-3.jpg"), rel: "prettyPhoto[040]"
        = link_to "", image_path("portfolio/040/040-4.jpg"), rel: "prettyPhoto[040]"
        = link_to "", image_path("portfolio/040/040-5.jpg"), rel: "prettyPhoto[040]"

%div{ class: "media-box #{span} living" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/051/051-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R'
      %p
        %a{ href: "" } PERLA doo - Herceg Novi
      %p
        %a{ href: "" } cca 750m2
      %p
        %a{ href: "" } PODGORICA - Block IV
      = link_to "", image_path("portfolio/051/051-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[051]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/051/051-1.jpg"), rel: "prettyPhoto[051]"
        = link_to "", image_path("portfolio/051/051-2.jpg"), rel: "prettyPhoto[051]"
        = link_to "", image_path("portfolio/051/051-3.jpg"), rel: "prettyPhoto[051]"
        = link_to "", image_path("portfolio/051/051-4.jpg"), rel: "prettyPhoto[051]"
        = link_to "", image_path("portfolio/051/051-5.jpg"), rel: "prettyPhoto[051]"

%div{ class: "media-box #{span} concept" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/014/014-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.R/CX'
      %p
        %a{ href: "" } cca 40000m2
      %p
        %a{ href: "" } Baosici - HERCEG NOVI
      = link_to "", image_path("portfolio/014/014-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[014]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/014/014-1.jpg"), rel: "prettyPhoto[014]"
        = link_to "", image_path("portfolio/014/014-2.jpg"), rel: "prettyPhoto[014]"
        = link_to "", image_path("portfolio/014/014-3.jpg"), rel: "prettyPhoto[014]"
        = link_to "", image_path("portfolio/014/014-4.jpg"), rel: "prettyPhoto[014]"
        = link_to "", image_path("portfolio/014/014-5.jpg"), rel: "prettyPhoto[014]"
        = link_to "", image_path("portfolio/014/014-6.jpg"), rel: "prettyPhoto[014]"
        = link_to "", image_path("portfolio/014/014-7.jpg"), rel: "prettyPhoto[014]"
        = link_to "", image_path("portfolio/014/014-8.jpg"), rel: "prettyPhoto[014]"

%div{ class: "media-box #{span} houses" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/020/020-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.H'
      %p
        %a{ href: "" } RADULOVIĆ       
      %p
        %a{ href: "" } cca 220m2
      %p
        %a{ href: "" } Daljam - PODGORICA
      = link_to "", image_path("portfolio/020/020-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[020]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/020/020-1.jpg"), rel: "prettyPhoto[020]"
        = link_to "", image_path("portfolio/020/020-2.jpg"), rel: "prettyPhoto[020]"
        = link_to "", image_path("portfolio/020/020-3.jpg"), rel: "prettyPhoto[020]"

%div{ class: "media-box #{span} houses" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/018/018-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.H'
      %p
        %a{ href: "" } ZONJIĆ 
      %p
        %a{ href: "" } cca 150m2
      %p
        %a{ href: "" } Ćurilac - DANILOVGRAD
      = link_to "", image_path("portfolio/018/018-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[018]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/018/018-1.jpg"), rel: "prettyPhoto[018]"
        = link_to "", image_path("portfolio/018/018-2.jpg"), rel: "prettyPhoto[018]"
        = link_to "", image_path("portfolio/018/018-3.jpg"), rel: "prettyPhoto[018]"
        = link_to "", image_path("portfolio/018/018-4.jpg"), rel: "prettyPhoto[018]"

%div{ class: "media-box #{span} business" }
  .view.view-first
    %a{ href: "" }
      = image_tag "portfolio/038/038-0.jpg", alt: "", title: ""
    .mask
      %h4
        %a{ href: "", title: ""}= t 'portfolio.index.I'
      %p
        %a{ href: "" } ERSTE Bank - Montenegro
      %p
        %a{ href: "" } cca 100 - 400m2
      %p
        %a{ href: "" } PODGORICA, BIJELO POLJE, KOTOR, HERCEG NOVI, BAR, ULCINJ, BERANE, NIKSIC
      = link_to "", image_path("portfolio/038/038-0.jpg"), class: "lightbox-link folio", rel: "prettyPhoto[038]"
      %div{ style: "display:none" }
        = link_to "", image_path("portfolio/038/038-1.jpg"), rel: "prettyPhoto[038]"
        = link_to "", image_path("portfolio/038/038-2.jpg"), rel: "prettyPhoto[038]"
        = link_to "", image_path("portfolio/038/038-3.jpg"), rel: "prettyPhoto[038]"
        = link_to "", image_path("portfolio/038/038-4.jpg"), rel: "prettyPhoto[038]"
        = link_to "", image_path("portfolio/038/038-5.jpg"), rel: "prettyPhoto[038]"
        = link_to "", image_path("portfolio/038/038-6.jpg"), rel: "prettyPhoto[038]"
        = link_to "", image_path("portfolio/038/038-7.jpg"), rel: "prettyPhoto[038]"
        = link_to "", image_path("portfolio/038/038-8.jpg"), rel: "prettyPhoto[038]"
        = link_to "", image_path("portfolio/038/038-9.jpg"), rel: "prettyPhoto[038]"

